---
layout: default
---
<!--
body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 100vh;
		font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
-->

<style>
	.schedule {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	table {
		width: 70%;
		max-width: 100rem;
		background: #EEE;

		.break {
			color: #939393;
			background: #EEE;
			font-weight: normal;
		}

		th,
		td {
			padding: 0.5rem 1rem;
		}

		th {
			font-weight: normal;
			width: 25%;
			border-top: thin dotted #ccc;
		}

		td {
			font-size: 1rem;
			font-weight: bold;
			line-height: 1.4;

			transition: opacity 0.3s ease;
		}

		td>span {
			font-size: 0.8em;
			font-weight: normal;
			display: block;
			width: 100%;
		}


		.stage-earth {
			color: #e5261f;
			background-color: #d1d1d1;
			height: 5em;

			a {
				text-decoration: underline;
			}
		}

		;

		.stage-mercury {
			background-color: #ffffff
		}

		;

		.stage-venus {
			color: #bb1c16;
			background-color: #bababa
		}

		;
	}

	.content table {
		padding: 0px;
		margin: 0px;
	}

	.content table th.cet {
		width: 30px;
	}

	.content table th.day {
		width: 60%;
	}

	.content table th {
		background: #000;
		color: #fff;
		padding: 10px;
	}

	.content table td {
		background: #fff;
	}

	.content table th,
	.content table td {
		border: 1px solid #202020;
		overflow: hidden;
		text-align: center;
		vertical-align: middle;
	}

	.table-program th .weekday,
	.table-program th .date {
		display: block;
	}

	.table-program .talk-content {
		vertical-align: middle;
		text-align: center;
		height: 100%;
		width: 100%;
		overflow: hidden;
		display: table;
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 20px;
	}

	.table-program .icon {
		position: relative;
		top: 0px;
		right: 0px;
	}

	.table-program .spaker-info {
		height: 100%;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	.table-program .title {
		font-size: 18px;
	}

	.table-program .room {
		font-size: 12px;
	}

	.content .legend {
		text-align: center;
		width: 100%;
	}

	.program .day {
		font-size: 25px;
		color: gray;
		margin-bottom: 10px;
	}

	.program .speaker {
		background: #EEE;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
	}

	.program .speaker .title {
		font-size: 18px;
		color: #E5261F;
		font-weight: bold;
	}

	.program .speaker .name {
		font-weight: bold;
	}

	.program .speaker .room {
		font-size: 12px;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.program .speaker .details {
		overflow: auto;
		text-align: top;
	}

	.program .speaker .details .photo {
		float: left;
		width: 30%;
		margin: 0px;
		padding: 0px;
	}

	.program .speaker .details .abstract {
		margin: 0px;
		padding: 5px;
	}

	.program .speaker .details .photo img {
		width: 100%;
		margin: 0px;
		padding: 10px;
	}

	.program .speaker .details .photoinfo {
		font-size: 8pt;
		margin: 0px;
		padding: 0px;
		margin-top: 5px;
		display: block;
	}

	.program .speaker .details .bio {
		margin-left: 110px;
		padding-left: 25px;
		padding: 5px;
	}

	.program .speaker .details .bio-no-photo {
		margin: 0px;
		padding: 5px;
	}

	.program .video {
		padding-top: 10px;
		text-align: center;
	}
</style>

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
	<div class="row justify-content-start">
		<div class="col-12 col-md-8">
			<div class="service service-single">
				<h1 class="title">{{page.title}}</h1>
				<div class="content mt-4">Here you will find information about the tutorials and program you can look
					forward to during the summer school.</div>
			</div>
		</div>
	</div>


	<!-- sorts the program based on date and time -->
	<!--<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
	<div class="row justify-content-start">
				<h1 class="title">{{page.title}}</h1>
				<h5>Here you will find information about the tutorials and program you can look forward to during the
					summer school.
					<!--Please note, that the tutorials will be hands-on and we strongly recommend you to bring your own
					notebook, as technical equipment will not be provided.-->
	<!--</h5>

				
				<h3 style="width:100%;">
					Tentative schedule:
				</h3>
				<div class="schedule">
					<table>

						<body>
							<tr>
								<th>09:00 - 09:30</th>
								<td colspan="4" rowspan="1" class="stage-venus">Welcome</td>
							</tr>
							<tr>
								<th>09:30 - 10:30</th>
								<td colspan="4" class="stage-earth"><a href="#Altair">DataVis 10½</a> <span>Part I</span></td>
							</tr>
							<tr>
								<th class="break">10:30 - 10:50</th>
								<td colspan="4" class="stage-mercury">Break</td>
							</tr>
							<tr>
								<th>10:50 - 12:00</th>
								<td colspan="4" class="stage-earth"><a href="#Altair">DataVis 10½</a> <span>Part II</span></td>
							</tr>
							<tr>
								<th class="break">12:00 - 13:00</th>
								<td colspan="4" class="stage-mercury">Lunch Break <span>Note: Selforganized, food is not
										provided</span></td>
							</tr>
							<tr>
								<th>13:00 - 14:20</th>
								<td colspan="4" class="stage-earth"><a href="#Altair">DataVis 10½</a> <span>Part III</span></td>
							</tr>
							<tr>
								<th class="break">14:20 - 14:40</th>
								<td colspan="4" class="stage-mercury">Break</td>
							</tr>
							<tr>
								<th>14:40 - 16:40</th>
								<td colspan="4" class="stage-earth"><a href="#Inviwo">Inviwo</a></td>
							</tr>
							<tr>
								<th class="break">16:40 - 17:00</th>
								<td colspan="4" class="stage-mercury">Break</td>
							</tr>
							<tr>
								<th>17:00 - 18:00</th>
								<td colspan="4" class="stage-venus">Collaboration & Networking</td>
							</tr>

						</body>
					</table>
				</div>

				<h3 >
					Venue:
				</h3>
				<div>The summer school will take place in Commissiekamer 3 in the Aula Building of TU Delft campus south of the city center
					(<a href="https://duckduckgo.com/?q=aula+tu+delft&t=h_&iaxm=maps&bbox=4.356515148583341%2C52.00769479883141%2C4.393807917174641%2C51.98686305959983&strict_bbox=1">duckduckgo maps</a>). 
					The Aula building is a sight on its own as one of the brutalist architecture icons of TU Delft. It serves among others as the home of PhD defenses at the TU. It provides ample room for breaks and lunch can be had in the buildings own restaurant.</div>
					<img style="width:50%;" src="/2025/images/program/campus-map.png" atl="campus map" />
					<img style="width:50%;" src="/2025/images/program/aula.jpg" atl="aula" />
-->


	<h3 style="width:100%;">
		Program:
	</h3>
	<div class="content">
		<div class="program" id="speakers">



			<div class="speaker" id="Altair">
				<div class="first-line">
					<span class="title">ParaView tutorial</span><br />
					<span class="slot">Time: ~3 hours </span>
				</div>
				<div class="name">Thomas Theußl</div>

				<br />

				<div class="details">
					<div class="photo">
						<img src="/2026/images/program/paraview.png" alt="paraview" />

					</div>
					<div class="abstract"><strong>Abstract:</strong>
						In this tutorial, tailored towards beginners with little to no previous experience, we will
						introduce <a href="https://www.paraview.org">ParaView</a>, a highly-scalable, open-source,
						multi-platform data analysis and visualization application built on top of <a
							href="https://vtk.org">VTK</a>,
						the Visualization Toolkit. ParaView users can quickly create visualizations to
						analyze their data using qualitative and quantitative techniques. The data exploration can be
						done interactively in 3D. Attendees will participate in a hands-on session working with ParaView
						to create 3D visualizations of scientific datasets.
					</div>


					<br>

					<div class="bio-no-photo"> <a href="https://consivi.com/"><strong>Thomas Theußl </strong></a>
						is with Consivi KG in Deutschlandsberg, Austria, which he founded in 2025, offering consulting,
						support, and development in scientific visualization. His research interests include
						visualization techniques, mathematical foundations of visualization, and applications of
						visualization. Theußl received his Master's degree in Computer Science from TU Wien in Austria.
						He has published tutorials on ParaView and Avizo on YouTube. Contact him at <a
							href="mailto:thomas.theussl@consivi.com">thomas.theussl@consivi.com</a>.</div>
				</div>
			</div>


			<div class="speaker" id="TBA">
				<div class="first-line">
					<span class="title">Additional tutorials will be announced soon.</span><br />
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>